<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            float: left;
            margin-right: 50px;
        }
    </style>
</head>
<body>
    <div id="app">
    <!-- 数组的遍历 -->
        <div class="box" v-for="(item,index) in info">
            <h2>{{index + 1}}. {{item.name}}</h2>
            <span>价格：{{item.price}}</span>
            <div>{{item.desc}}</div>
        </div>
    <!-- 对象的遍历 -->
        <ul style="display: block; overflow: hidden; ">
            <li v-for="(value, key, index) in user">{{key}}: {{value}}</li>
        </ul>
    </div>
    <script src="../lib/vue3.2.47.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    info:[
                        {name: "MacBook Pro M2", price: "$1999", desc:"新款上市，快来购买"},
                        {name: "Sumsung Galaxy S20", price: "$999", desc:"新款上市，快来购买"},
                        {name: "MEIZU 20", price: "$699", desc:"新款上市，快来购买"}
                    ],
                    user:{
                        name:"quirkybird", age: 20, address: "巴中"
                    }
                }
            },
            methods: {
            }
        })
        app.mount("#app")
    </script>
</body>
</html>