<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 手动实现双向绑定 -->
        <!-- <input type="text" :value="message" @input="inputChange"> -->

        <!-- v-model实现双向绑定:登录功能-->
        <label for="1">账号
        <input type="text" id="1" v-model="account">
        </label>
        <label for="2">密码
        <input type="password" id="2" v-model="password">
        </label>
        <button @click="printInfo">登录</button>
        <h2>{{ message }}</h2>
    </div>
    <script src="../lib/vue3.2.47.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    message: "qinye",
                    account: "",
                    password: ""
                }
            },
            methods: {
                inputChange(event) {
                    this.message = event.target.value 
                },
                printInfo() {
                    // 可以在这层发请求，把数据传给数据库验证
                    console.log(this.account, this.password)
                }
            }
        })
        app.mount("#app")
    </script>
</body>
</html>