<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <select v-model="fruit">
            <option value="apple">苹果</option>
            <option value="banana">香蕉</option>
            <option value="orange">橘子</option>
        </select>
        <h2>水果{{ fruit }}</h2>
        <hr>
        <select nultiple v-model="fruits" size="3">
            <option value="apple">苹果</option>
            <option value="banana">香蕉</option>
            <option value="orange">橘子</option>
        </select>
        <h2>{{ fruits }}</h2>
    </div>
    <script src="../lib/vue3.2.47.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    fruit: "",
                    fruits: []
                }
            },
            methods: {
            }
        })
        app.mount("#app")
    </script>
</body>
</html>