<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul v-if="names.length != 0">
            <li v-for="item in names">{{ item }}</li>
        </ul>
        <div v-else>列表为空，渲染失败</div>
    </div>
    <script src="../lib/vue3.2.47.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    names:["西游记", "红楼梦", "水浒传", "三国演义"]
                }
            },
            methods: {
            }
        })
        app.mount("#app")
    </script>
</body>
</html>