<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- checkbox单选框，默认绑定到一个Boolean值 -->
        <label for="agree">
            <input id="agree" type="checkbox" v-model="isAgree">同意协议
        </label>
        <h2>{{ isAgree }}</h2>
        <hr>
        <!-- checkbox复选框，默认绑定到一个数组上，绑定其对应的value值 -->
        <div>
            <label for="1">
                <input id="1" type="checkbox" v-model="hobbies" value="jogging">jogging
            </label>
            <label for="2">
                <input id="2" type="checkbox" v-model="hobbies" value="basketball">basketball
            </label>
            <label for="3">
                <input id="3" type="checkbox" v-model="hobbies" value="football">football
            </label>
            <label for="4">
                <input id="4" type="checkbox" v-model="hobbies" value="code">code
            </label>
        </div>
        <h2>{{ hobbies }}</h2>
    </div>
    <script src="../lib/vue3.2.47.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    isAgree: false,
                    hobbies: []
                }
            },
            methods: {
            }
        })
        app.mount("#app")
    </script>
</body>
</html>