<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="gender">
            <!-- 其实checkbox和radio都需要用name将它们内部互相关联，v-model默认也完成了这件事，所以不需要再写name -->
            <label for="1">
                <input id="1" type="radio" v-model="gender" value="male">男
            </label>
            <label for="2">
                <input id="2" type="radio" v-model="gender" value="female">女
            </label>
        </div>
        <h2>{{ gender }}</h2>
    </div>
    <script src="../lib/vue3.2.47.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    gender: ""
                }
            },
            methods: {
            }
        })
        app.mount("#app")
    </script>
</body>
</html>